node_modules/
.next/
out/
build/
*.log

# Environment variables
.env.local
.env.production
.env*.local



# Secrets (The most important part!)

.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store